.THIS .slds-table td {
    white-space: normal;
}
.THIS .slds-col {
    width: 50%;
}
.THIS .slds-modal-close{
    font-size: 20px;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -2.5rem;
    right: -.01rem;
}
.THIS .slds-modal__container {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important; 
    max-height: 100% !important;
}
.THIS .slds-page-header {
    padding: .5rem !important;
}
.THIS .artifactsListContainer {
    overflow: auto;
}
.THIS .inputFieldClass {
    display: none !important;
}
.THIS .buttonRelease{
    width:100%;
    height: 2rem;
}

.THIS .true{
    width:100%;
    height: 4rem;
    background: green;
    pointer-events: none;
}
.THIS .false{
    width:100%;
    height: 4rem;
}

.THIS .slds-section-title_divider, .THIS .slds-section-title--divider {
    font-size: 1rem;
    line-height: 1.25;
    color: rgb(0, 0, 0);
    text-transform: none;
    letter-spacing: .0625rem;
    padding: .50rem .75rem;
    background: rgb(250, 250, 249);
}