.THIS .hiddenClass {
    display: none;
}
.THIS .artifactsListContainer {
    min-height: 250px;
    overflow: auto;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.THIS .slds-table td {
    white-space: normal;
}
.THIS .slds-col {
    width: 50%;
}
.THIS .slds-modal-close{
    font-size: 20px;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -2.5rem;
    right: -.01rem;
}
.THIS .slds-modal__content {
    height: 100% !important;
}
.THIS .slds-modal__container {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important; 
    max-height: 100% !important;
}
.THIS .slds-page-header {
    padding: .5rem !important;
}
.THIS .wrapColumn{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}