/* Typography */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');


/* General Body Styles */
.THIS body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}


/* Body BG */
.THIS .bg {
	background: url('https://abemillett.gitlab.io/10kcommunity/img/bg-mountain.jpg') top center;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -10;
}
	.THIS .bg:after {
		content: " ";
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    height: 100%;
	    background: #008CA7;
	    background: -moz-linear-gradient(top,#008CA7 0,#5B4F4A 100%);
	    background: -webkit-linear-gradient(top,#008CA7 0,#5B4F4A 100%);
	    background: linear-gradient(to bottom,rgba(0,140,167,.75) 0,rgba(91,79,74,.75) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008CA7', endColorstr='#5B4F4A', GradientType=0 );
	}


/* Labels */
.THIS .label {
	font-size: 1rem;
	font-weight: 600;
	color: #10697a !important;
}


/* Content Block */
.THIS #content {
	border-radius: 1px;
}


/* Input Fields */
.THIS input.input {
	border-radius: 1px;
}


/* Text Links */
.THIS a {
	color: #00a4c4;
}
	.THIS a:hover,
	.THIS a:active,
	.THIS a:focus {
		color: #10697a !important;
	}


/* Buttons */
.THIS .button {
	background-color: #19a974 !important;
	/*border-radius: 1px;*/
	font-size: 1.1rem;
	font-weight: 600;
	color: #fff;
	border-width: 1px;
	border-color: #137752;
}
	.THIS .button:hover,
	.THIS .button:active,
	.THIS .button:focus {
		background-color: #137752 !important;
	}
	.THIS .button.primary {
		border: 1px #137752 solid;
	}
	.THIS .button.secondary {
		color: #fff !important;
		border: 1px #137752 solid;
	}


/* Small Text */
.THIS .small {
	font-size: 1rem;
}


/* Employee Login */
.THIS #employee_login {
	color: #fff !important;
	font-size: 1.1rem;
}
	.THIS #employee_login_link {
		color: #fff !important;
	}
	.THIS #employee_login_link:hover {
		color: #fff !important;
		opacity: 0.5 ;
	}


/* "Or Login..." Text */
.THIS #or_use_idp {
	color: #fff !important;
}


/* Footer */
.THIS #footer {
	font-size: 1rem;
	color: #fff !important;
	opacity: 0.5;
}

.THIS a {
	color:#0070d2;
}

.THIS body {
	/*background-color:#B1BAC1 !important;*/
	background-color:transparent !important;
}

.THIS #content,.THIS .container {
	background-color:#ffffff;
}

.THIS #header {
	color:#51606E;
}

.THIS #header,
.THIS #footer {
	color:#000000;
}

.THIS #signup {
	color:#000000;
}

.THIS #use_new_identity {
	color:#000000;text-decoration:underline;
}

.THIS #use_new_identity:hover,
.THIS #use_new_identity:active {
	color:#000000;
}

.THIS #or_use_idp,
.THIS #employee_login {
	color:#000000;
}

.THIS #cancel_idp,
.THIS #cancel_idp_hint,
.THIS #employee_login_link {
	color:#000000;text-decoration:underline;
}

.THIS #cancel_idp:hover,
.THIS #cancel_idp:active,
.THIS #cancel_idp_hint:hover,
.THIS #cancel_idp_hint:active,
.THIS #employee_login_link:hover,
.THIS #employee_login_link:active {
	color:#000000;
}

.THIS .primary,
.THIS .primary:hover,
.THIS .primary:focus {
	background-color:#1797C0;
}

.THIS .primary {
	color:#FFFFFF;
}

.THIS .primary {
	border:#1797C0;
}

.THIS body {
	display: table; width:100%;
}

.THIS #content {
	margin-bottom:24px !important;
}

.THIS #wrap {
	height:100%;
}

.THIS #right  {
	display: none;
}

@font-face {
    font-family: 'SFS';
    src: url("../login/assets/fonts/SalesforceSans/SalesforceSans-Regular.eot"); /* IE9 */
    src: url("../login/assets/fonts/SalesforceSans/SalesforceSans-Regular.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
         url("../login/assets/fonts/SalesforceSans/SalesforceSans-Regular.woff2") format('woff2'), /* Chrome 26+, Opera 23+ */
         url("../login/assets/fonts/SalesforceSans/SalesforceSans-Regular.woff") format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url("../login/assets/fonts/SalesforceSans/SalesforceSans-Regular.svg#web") format('svg'); /* Legacy iOS */

}

@font-face {
    font-family: 'SFSLight';
    src: url('../login/assets/fonts/SalesforceSans/SalesforceSans-Light.eot') format('eot'); /* IE9 */
    src: url("../login/assets/fonts/SalesforceSans/SalesforceSans-Light.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
         url('../login/assets/fonts/SalesforceSans/SalesforceSans-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
         url('../login/assets/fonts/SalesforceSans/SalesforceSans-Light.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('../login/assets/fonts/SalesforceSans/SalesforceSans-Light.svg#web') format('svg'); /* Legacy iOS */
}

.THIS html, .THIS body {
	height: 100%;
	font-family: SFS, Arial, sans-serif;
	color: #16325c;
	font-size: 14px;
}

.THIS body {
	padding: 0px;
	margin: 0 auto;
}

.THIS h1 {
	font-size: 24px;
	font-family: SFSLight, Arial, sans-serif;
}

.THIS h2 {
	font-size: 18px;
	font-family: SFSLight, Arial, sans-serif;
}

.THIS :placeholder {
	color: #54698d;
}

.THIS ::-webkit-input-placeholder {
	color: #54698d;
}

.THIS :-moz-placeholder { /* Firefox 18- */
	color: #54698d;
	opacity: 1;
}

.THIS ::-moz-placeholder {  /* Firefox 19+ */
	color: #54698d;
	opacity: 1;
}

.THIS :-ms-input-placeholder {
	color: #54698d;
}

/* Positioning */

.THIS .pr {
	position: relative;
}

.THIS .di {
	display: inline;
}

.THIS .dib {
	display: inline-block;
}

.THIS .tc {
	text-align: center;
}

.THIS .tr {
	text-align: right;
}

/* Floats */

.THIS .fl {
	float: left;
}

.THIS .fr {
	float: right;
}

/* Margins */

.THIS .ma {
	margin: 0 auto;
}

.THIS .mr8 {
	margin-right: 8px;
}

.THIS .mr16 {
	margin-right: 16px;
}

.THIS .mb8 {
	margin-bottom: 8px;
}

.THIS .mb12 {
	margin-bottom: 12px;
}

.THIS .mb14 {
	margin-bottom: 14px;
}

.THIS .mb16 {
	margin-bottom: 16px;
}

.THIS .mb20 {
	margin-bottom: 20px;
}

.THIS .mb24 {
	margin-bottom: 24px;
}

.THIS .mt8 {
	margin-top: 8px;
}

.THIS .mt16 {
	margin-top: 16px;
}

.THIS .mt24 {
	margin-top: 24px;
}

/* Radius  */

.THIS .r4 {
	/*border-radius: 4px;*/
}

/* Padding */

.THIS .p16 {
	padding: 16px 0;
}

.THIS .pt16 {
	padding-top: 16px;
}

.THIS.pt20 {
	padding-top: 20px;
}

.THIS.pt40 {
	padding-top: 40px;
}

/* Borders  */

.THIS .bt {
	border-top: 1px solid #F4F6F9;
}

.THIS img.logo {
	width: 160px;
}

.THIS img {
	vertical-align: middle;
	border: 0;
}

.THIS a {
	text-decoration: none;
	transition: all 0.1s;
}

.THIS a:hover, .THIS a:active {
	color: #005fb2;
}

.THIS a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.THIS .required {
    color: #CF4F43;
}

.THIS p {
	display: block;
	text-align: left;
	text-align: start;
	margin:0px;
	line-height: 24px;
}

.THIS ul {
	padding-left:20px;
	list-style-type: disc;
}

.THIS .whiteHeader {
	color: #fff;
}

/*the UL above seems to break the next element so put in a no-op*/
.THIS code{}

.THIS .passwordul {
	padding-left:0px;
	list-style-type: none;
}

/*the UL above seems to break the next element so put in a no-op*/
.THIS code{}

.THIS .passwordicon {
	padding-right:8px;
    width: 16px;
}

.THIS .disabled {

}

.THIS .small {
	font-size: 15px;
}

.THIS p.small a {
	font-size: 12px;
}

.THIS .label {
	font-size: 14px;
	color: #54698d;
	margin: 0 0 8px 0;
	line-height: inherit;
}

.THIS div, .THIS form {
	margin: 0px;
	padding: 0px;
}

.THIS .zen-assistiveText {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.THIS .button {
	padding: 12px 24px;
	/*border-radius: 4px;*/
	border: 0;
	font-size: 14px;
	font-family: SFS, Arial, sans-serif;
	color: white;
	background-color: #D8DDE6;
	cursor: pointer;
    background-image: none !important;
}

/* Style a link to look like a button */
.THIS a.button {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
}

.THIS a.primary, .THIS a.primary:link, .THIS a.primary:visited, .THIS a.primary:hover, .THIS a.primary:active {
	color: white !important;
}

.THIS a.secondary, .THIS a.secondary:link, .THIS a.secondary:primary, .THIS a.secondary:hover, .THIS a.secondary:active {
	color: #0070d2 !important;
}

.THIS button#password-button:disabled {
	cursor: default;
}

.THIS .fiftyfifty {
	width: 48%;
}

.THIS .error {
	color: #CF4F43;
}


.THIS .errorcode {
	font-size:10px;
	color: #54698d; /* Color for labels */
}


.THIS .primary {
	background-color: #0070d2;
	color: white;
	transition: all 0.1s;
	border: 1px solid transparent;
}

.THIS .primary:hover, .THIS .primary:focus {
	background-color: #005fb2;
}

.THIS .secondary {
	background-color: #ffffff;
	border: 1px solid #D8DDE6;
	color: #0070d2 !important;
}

.THIS .secondary:hover {
	background-color: #F4F6F9;
}

.THIS .wide {
	width: 100%;
}

.THIS .right {
	float:right;
}

/* Inputs */

.THIS input {
	height: auto !important;
}

.THIS input#answer {
    margin-top: 8px;
}

.THIS input.input,
.THIS select.input,
.THIS input.answer-input.input,
.THIS input.password-input.input {
	border: 1px solid #D8DDE6;
	/*border-radius: 4px;*/
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: #fff;
	font-family: SFS, Arial, sans-serif;
	box-sizing: border-box;
	-webkit-appearance: none;
	font-size: 14px;
	transition: all 0.1s;
}

.THIS .input {
	padding: 12px;
}

.THIS .password-input {
	padding: 12px !important;
}

.THIS .answer-input {
	padding: 12px !important;
}

.THIS select.input#question {
	padding: 12px 40px;
	background-image: url('../img/disclosure.gif');
	background-repeat: no-repeat;
	background-position: 14px 14px;
}

.THIS .input:focus {
	background-color: #ffffff;
	border: 1px solid #1589ee;
	outline: 0;
	box-shadow: 0 0 3px #0070D2;
}

.THIS input[type="checkbox"] {
	width: auto;
}

.THIS input.twofactor {
	background-image: url('../img/keys.png');
	background-repeat: no-repeat;
	background-position: 12px, 12px;
	background-size: 14px 18px;
	padding: 12px 40px;
}

.THIS input.error {
	border: 1px solid #C23934;
}

.THIS input[type="radio"] {
	margin-right: 12px;
	margin-bottom: 12px;
}

/* Removes native iOS button styling */
.THIS input[type='submit'] {
	-webkit-appearance: none;
}

.THIS .tablewrapper {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.THIS .username {
	display: block;
}

.THIS .password {
	display: block;
}

.THIS input.answer-input:focus,
.THIS input.password-input:focus {
	background-color: #ffffff;
	border: 1px solid #1589ee;
	outline: 0;
}


.THIS .password-wrapper {
	position: relative;
	background: #FFF;
}

.THIS .password-message {
	display: block;
	line-height: 45px;
	font-size:10px;
	padding: 0 10px;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}

.THIS html[dir="rtl"] .password-message {
	right: auto;
	left: 0;
}

.THIS .password-none {
	border: 1px solid #1589ee;
}

.THIS .password-none-color {
	color: #16325c;
}


.THIS input.password-input.password-weak,
.THIS input.password-input.password-weak:focus {
	border:1px solid #C23934;
}

.THIS .password-weak-color {
	color: #CF4F43;
}

.THIS input.password-input.password-good,
.THIS input.password-input.password-good:focus {
	border:1px solid #4bca81;
}

.THIS .password-good-color {
	color: green;
}

.THIS .password-focus {
	border: 1px solid #1589ee;
}

.THIS .password-strong {

}

.THIS .twofactor-input {
	background-image: url('../img/iconCode.png');
	background-repeat: no-repeat;
	background-position: 12px, 12px;
	background-size: 14px 18px;
	padding: 12px 40px;
}

.THIS .phone-input {
	background-image: url('../img/iconPhone.png');
	background-repeat: no-repeat;
	background-position: 12px, 12px;
	background-size: 14px 18px;
	padding: 12px 40px;
}

.THIS .clear-input {
	background-image: url('../img/iconClear.png');
	background-repeat: no-repeat;
	background-position: 12px, 12px;
	background-size: 14px 18px;
	padding: 12px 40px;
}

.THIS .wrapper {
	padding: 20px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 380px;
	-moz-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}

.THIS .standard_logo_wrapper {
	height: 113px;
	overflow: hidden;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    display: table;
}

.THIS .standard_logo {
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	max-width: 180px;
	max-height: 113px;
}

.THIS #header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 24px;
	font-family: SFSLight, Arial, sans-serif;
}

.THIS #wrap {
    min-height: 100%;
}

.THIS #main {
    /*overflow:auto;*/
    padding-bottom: 48px;
}  /* padding is footer height plus an extra 24px of spacing */

.THIS #footer {
    /*position: absolute;*/
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}

.THIS #content {
	margin: 0px auto;
	padding: 20px;
	/*border-radius: 4px;*/
	border: 1px solid #D8DDE6;
	color: #16325c;
}

.THIS p.large {
	font-size: 18px;
	font-family: SFSLight, Arial, sans-serif;
}

.THIS .important {
   font-weight: bold;
}

.THIS .wordwrap {
	word-wrap: break-word;
}

.THIS .nowrap {
    white-space: nowrap;
}
/* Login page sections */

.THIS #left {
	display: block;
	height: 100%;
}

.THIS #right {
	display: table-cell;
	vertical-align: top;
	background-color: #D8DDE6;
	width: 50%;
	height: 100%;
	color: rgba(255, 255, 255, 0.6);
}

.THIS #right iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: none;
	float: right;
}

.THIS .container {
	border: 1px solid #D8DDE6;
	padding: 20px;
	border-radius: 4px;
	color: #16325c;
}

/* Login form */

.THIS #pwcaps {
	font-size: 12px;
	color: #54698d;
	margin-top: -8px;
}

.THIS #pwcapsicon {
	margin-right: 8px;
}

.THIS .inputgroup {
	position: relative;
}

.THIS .loginError {
	color: #C23934;
	margin-bottom: 14px;
	font-size: 12px;
}

.THIS #idcard-container {
	background-color: #ffffff;
	border: 1px solid #D8DDE6;
	padding: 2px;
	border-radius: 4px;
}

.THIS #idcard {
	padding: 3px;
	border-radius: 4px;
	position: relative;
}

.THIS #idcard-identity {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	left: 43px;
	right: 36px;
	line-height: 32px;
}

.THIS .avatar {
	width: 24px;
	height: 24px;
	border-radius: 24px;
	vertical-align: middle;
	margin-right: 8px;
	padding: 4px;
	display: inline-block;
}

.THIS .clearlink {
	margin-right: 8px;
	margin-top: 8px;
	float: right;
}

.THIS .clearicon {
	width: 16px;
	height: 16px;
	cursor: hand;
}

/* Login hint editing */

.THIS .nonscrollable {
	border-bottom: 1px solid #D8DDE6;
	border-radius: 4px;
	border-top: 1px solid #D8DDE6;
}

.THIS #manager ul {
	margin: 0;
	padding: 0;
}

.THIS #manager li {
	list-style-type: none;
	padding: 12px;
	font-size: 14px;
	border-left: 1px solid #D8DDE6;
	border-right: 1px solid #D8DDE6;
	border-bottom: 1px solid #f4f6f9;
	position: relative;
}

.THIS #manager li:hover, .THIS #manager li:focus {
	background-color:#f4f6f9;
}

.THIS #manager span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    left: 68px;
    right: 36px;
    line-height: 32px;
}

.THIS .hintclearlink {
	margin-top: 8px;
	float: right;
}

.THIS .hintclearicon {
	width: 16px;
	height: 16px;
	cursor: hand;
}

/* Login hint chooser */

.THIS #chooser ul {
	margin: 0;
	padding: 0;
}

.THIS #chooser li {
	list-style-type: none;
	font-size:14px;
	border-left:1px solid #D8DDE6;
	border-right:1px solid #D8DDE6;
	border-bottom:1px solid #f4f6f9;
	margin-bottom:0px;
	position: relative;
}

.THIS #chooser li a:hover, .THIS #chooser li a:focus {
	background-color: #f4f6f9;
}

.THIS #idlist span {
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    left: 68px;
    right: 12px;
    line-height: 32px;
}

.THIS #idlist a {
	color: #16325c;
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: block;
	padding: 12px;
	font-size: 12px;
	box-sizing: border-box;
}

.THIS .thumbnail, .THIS .thumbnail_img, .THIS .thumbnail_div {
	width:32px;
	height:32px;
	border-radius:32px;
	vertical-align:middle;
	margin-right:8px;
	display:inline-block;
}

.THIS .thumbll_icon {
	position:absolute;
	width:20px;
	height:20px;
	left:30px;
	top:30px;
}

.THIS .scrollable {
	border-bottom:1px solid #D8DDE6;
	border-radius: 4px;
	border-top:1px solid #D8DDE6;
	max-height: 200px;
	overflow: auto;
}

.THIS .activity {
	width:8px;
	border-radius:0px;
	vertical-align:middle;
	margin-right:8px;
}

/* Login page IDP styling */

.THIS #or_use_idp {
    font-size: 18px;
    font-family: SFSLight, Arial, sans-serif;
}

.THIS #idp_section_buttons .thumbnail, .THIS #idp_section_chooser .thumbnail {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

/* button should be the same height with or without a logo */
.THIS #idp_section_buttons button {
	min-height: 50px;
	word-wrap: break-word;
}

.THIS #idp_chooser ul {
    margin: 0;
    padding: 0;
}

.THIS #idp_chooser li {
    list-style-type: none;
    font-size:14px;
    border-left:1px solid #D8DDE6;
    border-right:1px solid #D8DDE6;
    border-bottom:1px solid #f4f6f9;
    margin-bottom: 0px;
}

.THIS #idp_chooser li a:hover {
    background-color:#f4f6f9;
}

.THIS #idp_chooser li a:focus {
    background-color:#f4f6f9;
}

.THIS #idplist a {
    color: #16325c;
    text-decoration: none;
    display: block;
    padding: 12px;
    font-size: 14px;
    word-wrap: break-word;
}

.THIS #idpscrollable {
    border-bottom:1px solid #D8DDE6;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top:1px solid #D8DDE6;
    max-height:190px;
    overflow: auto;
}

.THIS #idp_search {
    background-image: url('../img/grey_magnifier.png');
    background-repeat: no-repeat;
    background-position: 15px 12px;
    background-size: 16px 19px;
    padding: 12px 12px 12px 44px;
    border-bottom: 0px;
    background-color: #ffffff;
}

.THIS #idp_search:focus {
    border-bottom:0px;
    background-color: #ffffff;
    border: 1px solid #1589ee;
    outline: 0;
    box-shadow: 0 0 3px #0070D2;
}

.THIS fieldset.borderless {
    border: 0;
    padding: 0 0 0 0;
    margin: 0;
    min-width: 0;
}

@media only screen and (max-width: 1024px) {
	.THIS #left {
		width: 100%;
	}

	.THIS #right {
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	.THIS .wrapper {
		max-width: 100%;
		margin-left: inherit;
		left: inherit;
		padding-top: 20px !important;
	}

	.THIS #content {
		border-left: 0px;
		border-right: 0px;
		border-radius: 0px;
	}

	.THIS .button {
		font-size: 16px;
	}

	.THIS .label, .THIS .small, .THIS #footer {
		font-size: 14px;
	}

	/* font must be at least 16px to prevent auto-zooming on iOS devices */
	.THIS input.input {
	    font-size: 16px;
	}
}

@media only screen and (min-height: 1200px) {
	.THIS .wrapper {
	   padding-top: 240px;
	}
}
@media only screen and (max-height: 1200px) {
    .THIS .wrapper {
        padding-top: 180px;
    }
}
@media only screen and (max-height: 1000px) {
    .THIS .wrapper {
        padding-top: 140px;
    }
}
@media only screen and (max-height: 900px) {
    .THIS .wrapper {
        padding-top: 100px;
    }
}
@media only screen and (max-height: 736px) {
    .THIS .wrapper {
        padding-top: 60px;
    }
}
@media only screen and (max-height: 670px) {
    .THIS .wrapper {
        padding-top: 40px;
    }
}
@media only screen and (max-height: 610px) {
	.THIS .wrapper {
	   padding-top: 20px;
	}
}
.THIS html, .THIS body {
    margin:0;
    padding:0;
    height:100%;
}
.THIS  #mainwrapper {
    min-height:100%;
    position:relative;
}
/*@media (max-width:840px){
    .THIS .footer {
        width:100% !important;
        max-height:256px !important;
        position:absolute !important;
        bottom:0 !important;
        left:0 !important;
        z-index: 999 !important;
        background-color: rgba(0,0,0,.85) !important;
    }
}*/
/*@media (min-width:840px){*/
  	.THIS .footer {
	    width:100% !important;
	    max-height:56px !important;
	    position:absolute !important;
	    bottom:0 !important;
	    left:0 !important;
	    z-index: 999 !important;
	    background-color: rgba(0,0,0,.85) !important;
  	}
/*}*/