.THIS  button.sfdc_button {
    width: 100%;
    /*margin-top: 20px;*/
    /*margin-bottom: 10px;*/
    margin-left: 0px;
    color: white;
    background-color: #19a974;
    border-color: #137752;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px #137752 solid;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS  button:hover {
    background-color: #137752 !important;
    border-color: #137752;
    cursor:pointer;
}

.THIS button .label {
    font-size: 1rem;
    font-weight: 600;
    color: white !important;
    margin: 0 0 0 0 !important;	
}

.THIS .uiButton--default {
	text-shadow: none;
	box-shadow: none;
}